# General

## Pandas

### Import

In [1]:
import numpy as np
import pandas as pd

*Set of data used*

In [2]:
df = pd.DataFrame([['A', 1, 1.1], ['B', 2, 2.2], ['C', 3, 3.3]], columns=['col1', 'col2', 'col3'], index=[10, 20, 30])
df.to_csv('data.csv')
df.to_pickle('data.pickle')

### Get data

From CSV

In [3]:
df = pd.read_csv('data.csv')

From pickle

In [4]:
df = pd.read_pickle('data.pickle')

### See data

#### Head

In [5]:
df.head(2)

   col1  col2  col3
10    A     1   1.1
20    B     2   2.2

#### Tail

In [6]:
df.tail(1)

   col1  col2  col3
30    C     3   3.3

#### Sample

In [93]:
df.sample(n=2)

   col1  col2  col3   col4 col5
10    A     1   1.1  310.0   Ko
20    B     2   2.2  520.0   Ok

#### A column

In [7]:
df['col1']

10    A
20    B
30    C
Name: col1, dtype: object

#### Multiple columns

In [8]:
df[0:3]

   col1  col2  col3
10    A     1   1.1
20    B     2   2.2
30    C     3   3.3

In [9]:
df[::2]

   col1  col2  col3
10    A     1   1.1
30    C     3   3.3

In [10]:
df[1::]

   col1  col2  col3
20    B     2   2.2
30    C     3   3.3

#### Row at one index

In [11]:
df.loc[10]

col1      A
col2      1
col3    1.1
Name: 10, dtype: object

Keep dataframe structure

In [12]:
df.loc[[10]]

   col1  col2  col3
10    A     1   1.1

#### Rows at some multiple index

In [13]:
df.loc[[10, 30]]

   col1  col2  col3
10    A     1   1.1
30    C     3   3.3

#### Rows in a range of index

In [14]:
df.loc[10:20]

   col1  col2  col3
10    A     1   1.1
20    B     2   2.2

In [15]:
df.loc[20::]

   col1  col2  col3
20    B     2   2.2
30    C     3   3.3

#### Rows index and columns

In [16]:
df.loc[[10, 30], ['col2', 'col3']]

    col2  col3
10     1   1.1
30     3   3.3

In [17]:
df.loc[10::, 'col2'::]

    col2  col3
10     1   1.1
20     2   2.2
30     3   3.3

#### Row by position

In [18]:
df.iloc[2]

col1      C
col2      3
col3    3.3
Name: 30, dtype: object

#### Rows by position

In [19]:
df.iloc[1::]

   col1  col2  col3
20    B     2   2.2
30    C     3   3.3

In [20]:
df.iloc[[0, 2]]

   col1  col2  col3
10    A     1   1.1
30    C     3   3.3

#### Rows positions and columns

In [21]:
df.iloc[2, [1, 2]]

col2      3
col3    3.3
Name: 30, dtype: object

In [22]:
df.iloc[2, 2]

3.2999999999999998

In [23]:
df.iloc[[2], [1, 2]]

    col2  col3
30     3   3.3

In [24]:
df.iloc[::2, 1::]

    col2  col3
10     1   1.1
30     3   3.3

#### Values of a serie

In [41]:
df['col1'].values

array(['A', 'B', 'C'], dtype=object)

#### Index of a serie

In [42]:
df['col1'].index

Int64Index([10, 20, 30], dtype='int64')

#### Sort values

In [70]:
df.sort_values(ascending=[False,True], by=['col1', 'col2'])

   col1  col2  col3   col4 col5
30    C     3   3.3  730.0   Ok
20    B     2   2.2  520.0   Ok
10    A     1   1.1  310.0  NaN

### Iterate over data

#### Row by row (with dict)

In [25]:
for row in df.iterrows():
    print('First row index: ' + str(row[0]))
    print('First row content: ')
    print(row[1])
    print('First row col1 content: ' + row[1]['col1'])
    break

First row index: 10
First row content:
col1      A
col2      1
col3    1.1
Name: 10, dtype: object
First row col1 content: A

In [26]:
for index, row in df.iterrows():
    print('First row index: ' + str(index))
    print('First row content: ')
    print(row)
    print('First row col1 content: ' + row['col1'])
    break

First row index: 10
First row content:
col1      A
col2      1
col3    1.1
Name: 10, dtype: object
First row col1 content: A

#### Row by row (with tuples)

In [27]:
for row in df.itertuples():
    print('First row index: ' + str(row.Index))
    print('First row col1 content: ' + row.col1)
    print('First row col2 content: ' + str(row.col2))
    print('First row col3 content: ' + str(row.col3))
    break

First row index: 10
First row col1 content: A
First row col2 content: 1
First row col3 content: 1.1

In [28]:
for index, col1, col2, col3 in df.itertuples():
    print('First row index: ' + str(index))
    print('First row col1 content: ' + col1)
    print('First row col2 content: ' + str(col2))
    print('First row col3 content: ' + str(col3))
    break

First row index: 10
First row col1 content: A
First row col2 content: 1
First row col3 content: 1.1

#### Column by column

In [29]:
for item in df.iteritems():
    print('First column name: ' + item[0])
    print('First column content:')
    print(item[1])
    print('First column, first value at index 10: ' + item[1][10])
    break

First column name: col1
First column content:
10    A
20    B
30    C
Name: col1, dtype: object
First column, first value at index 10: A

### Select data

#### Select with function and loc

In [30]:
df.loc[lambda df: df.col2 > 1]

   col1  col2  col3
20    B     2   2.2
30    C     3   3.3

In [31]:
def select_A(df):
    return df.col1 == "A"

df.loc[select_A]

   col1  col2  col3
10    A     1   1.1

#### Select with boolean condition

In [32]:
# df[df['col2'] > 2]

selected_index = df['col2'] > 2
df[selected_index]

   col1  col2  col3
30    C     3   3.3

In [33]:
# df[[(col1_value.startswith("A") and col2_value == 1) or col2_value == 3 for index, col1_value, col2_value in df[['col1', 'col2']].itertuples()]]

selected_index = [(col1_value.startswith("A") and col2_value == 1) or col2_value == 3 for index, col1_value, col2_value in df[['col1', 'col2']].itertuples()]
df[selected_index]

   col1  col2  col3
10    A     1   1.1
30    C     3   3.3

In [65]:
df[df['col1'].isin(['A', 'C'])]

   col1  col2  col3   col4 col5
10    A     1   1.1  310.0  NaN
30    C     3   3.3  730.0   Ok

### Change values

In [36]:
df['col4'] = df.col2 + df.col3
df.head()

   col1  col2  col3  col4
10    A     1   1.1   2.1
20    B     2   2.2   4.2
30    C     3   3.3   6.3

In [40]:
df['col4'] = df.apply(lambda row: row.col2 + row.col3 + 1, axis=1)
df.head()

   col1  col2  col3  col4
10    A     1   1.1   3.1
20    B     2   2.2   5.2
30    C     3   3.3   7.3

In [44]:
df['col4'] = df['col4'] * 10
df.head()

   col1  col2  col3   col4
10    A     1   1.1  310.0
20    B     2   2.2  520.0
30    C     3   3.3  730.0

In [52]:
def set_some_values(row):
    if row.col2 > 1:
        return 'Ok'
    else:
        return np.NAN

df['col5'] = df.apply(set_some_values, axis=1)
df.head()

   col1  col2  col3   col4 col5
10    A     1   1.1  310.0  NaN
20    B     2   2.2  520.0   Ok
30    C     3   3.3  730.0   Ok

### Check values

#### Number of unique values in a serie

In [54]:
df['col5'].value_counts(dropna=False)

Ok     2
NaN    1
Name: col5, dtype: int64

#### Is dataframe contain null values

In [55]:
df['col5'].isnull()

10     True
20    False
30    False
Name: col5, dtype: bool

In [68]:
df['col5'].notnull()

10    False
20     True
30     True
Name: col5, dtype: bool

#### Size of the dataframe

*(Number of rows, Number of columns)*

In [57]:
df.shape

(3, 5)

#### If a colum's values are uniques

In [62]:
df['col1'].is_unique

True

### Handle missing values

In [75]:
df['col5'] = df['col5'].fillna('Ko')
df.head()

   col1  col2  col3   col4 col5
10    A     1   1.1  310.0   Ko
20    B     2   2.2  520.0   Ok
30    C     3   3.3  730.0   Ok

### Group values

In [77]:
df.groupby('col5').sum()

      col2  col3    col4
col5
Ko       1   1.1   310.0
Ok       5   5.5  1250.0

In [97]:
df.groupby('col5').agg(np.sum).head()

      col2  col3    col4
col5
Ko       1   1.1   310.0
Ok       5   5.5  1250.0

In [79]:
df.groupby('col5').mean()

      col2  col3   col4
col5
Ko     1.0  1.10  310.0
Ok     2.5  2.75  625.0

In [80]:
df.groupby('col5').median()

      col2  col3   col4
col5
Ko     1.0  1.10  310.0
Ok     2.5  2.75  625.0

In [78]:
df.groupby('col5').describe()

                col2      col3        col4
col5
Ko   count  1.000000  1.000000    1.000000
     mean   1.000000  1.100000  310.000000
     std         NaN       NaN         NaN
     min    1.000000  1.100000  310.000000
     25%    1.000000  1.100000  310.000000
     50%    1.000000  1.100000  310.000000
     75%    1.000000  1.100000  310.000000
     max    1.000000  1.100000  310.000000
Ok   count  2.000000  2.000000    2.000000
     mean   2.500000  2.750000  625.000000
     std    0.707107  0.777817  148.492424
     min    2.000000  2.200000  520.000000
     25%    2.250000  2.475000  572.500000
     50%    2.500000  2.750000  625.000000
     75%    2.750000  3.025000  677.500000
     max    3.000000  3.300000  730.000000

In [76]:
from itertools import count
for i, (name, group) in zip(count(1), df.groupby('col5')):
    print(i)
    print(name)
    print(group)

1
Ko
   col1  col2  col3   col4 col5
10    A     1   1.1  310.0   Ko
2
Ok
   col1  col2  col3   col4 col5
20    B     2   2.2  520.0   Ok
30    C     3   3.3  730.0   Ok

### Hierachical index

In [84]:
df_h = df.copy()
df_h = df_h.set_index(['col5', 'col1'])
df_h.head()

           col2  col3   col4
col5 col1
Ko   A        1   1.1  310.0
Ok   B        2   2.2  520.0
     C        3   3.3  730.0

In [86]:
df_h.loc[('Ok', 'B')]

col2      2.0
col3      2.2
col4    520.0
Name: (Ok, B), dtype: float64

In [88]:
df_h.sortlevel('col1', ascending=False).head()

           col2  col3   col4
col5 col1
Ok   C        3   3.3  730.0
     B        2   2.2  520.0
Ko   A        1   1.1  310.0

In [100]:
df_h.groupby(level='col5', axis=0)['col2'].mean()

col5
Ko    1.0
Ok    2.5
Name: col2, dtype: float64

### Change orientation

In [105]:
df

   col1  col2  col3   col4 col5
10    A     1   1.1  310.0   Ko
20    B     2   2.2  520.0   Ok
30    C     3   3.3  730.0   Ok

In [103]:
df.stack()

10  col1      A
    col2      1
    col3    1.1
    col4    310
    col5     Ko
20  col1      B
    col2      2
    col3    2.2
    col4    520
    col5     Ok
30  col1      C
    col2      3
    col3    3.3
    col4    730
    col5     Ok
dtype: object

In [104]:
df.unstack()

col1  10      A
      20      B
      30      C
col2  10      1
      20      2
      30      3
col3  10    1.1
      20    2.2
      30    3.3
col4  10    310
      20    520
      30    730
col5  10     Ko
      20     Ok
      30     Ok
dtype: object

### Discretisation

In [115]:
pd.cut(df.col2, [0,2,4], labels=['one','two'])

10    one
20    one
30    two
Name: col2, dtype: category
Categories (2, object): [one < two]